zsh: command *.pkg.* not found

[34m[1mIt can be installed by using one of the following commands[0m

[33m    yay -S archlinux-contrib
    yay -S clonezilla
    yay -S cmake-fedora
    yay -S devtools
    yay -S dpkg
    yay -S fpc
    yay -S ghc-libs
    yay -S go-tools
    yay -S icu
    yay -S libabigail
    yay -S libreoffice-fresh
    yay -S libreoffice-still
    yay -S libsolv
    yay -S namcap
    yay -S nimble
    yay -S pacman
    yay -S pacman-contrib
    yay -S perl-pkgconfig
    yay -S pkgconf
    yay -S pkgdiff
    yay -S pkgfile
    yay -S pkgstats
    yay -S plasma-framework
    yay -S playonlinux
    yay -S python-pkginfo
    yay -S yarn

